<div class="container">
  <div class="register-container">

    <mat-card class="register-card">
      <h1>Register</h1>
      <form [formGroup]="firstFormGroup" (ngSubmit)="stepper.next()">
        <div *ngIf="stepper.selectedIndex === 0">
          <mat-label>First name</mat-label>
          <mat-form-field class="full-width">
            
            <input id="firstNameId" matInput formControlName="firstName" placeholder="First name" >
            <mat-error class="mat-error">
              First name required!
            </mat-error>
          </mat-form-field>
          <mat-label>Last name</mat-label>
          <mat-form-field class="full-width">
           
            <input id="lastNameId" matInput formControlName="lastName" placeholder="Last name">
            <mat-error class="mat-error">
              Last name required!
            </mat-error>
          </mat-form-field>
          <mat-label>Age</mat-label>
          <mat-form-field class="full-width">
           
            <input id="ageId" matInput formControlName="age" type="number" placeholder="Your age">
            <mat-error class="mat-error">
              Age required!
            </mat-error>
          </mat-form-field>
          <mat-label>Weight</mat-label>
          <mat-form-field class="full-width">
         
            <input id="weightId" matInput formControlName="weight" type="number" placeholder="Your weight">
            <mat-error class="mat-error">
              Weight required!
            </mat-error>
          </mat-form-field>
          <mat-label>Height</mat-label>
          <mat-form-field class="full-width">
           
            <input id="heightId" matInput formControlName="height" type="number" placeholder="Your height">
            <mat-error class="mat-error">
              Height required!
            </mat-error>
          </mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-form-field class="full-width">
        
            <mat-select id="genderId" formControlName="gender" value="other" placeholder="Your gender" style="color: rgba(0, 0, 0, 0.4);">
             
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
              <mat-option value="other">Other</mat-option>

            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="primary" class="Login" type="submit">Next</button>
        </div>
      </form>
      <form [formGroup]="secondFormGroup" (ngSubmit)="onSubmit()">
        <div *ngIf="stepper.selectedIndex === 1">
          <mat-label>E-mail</mat-label>
          <mat-form-field class="full-width">
            <input  id="emailId" matInput formControlName="email" placeholder="Enter your e-mail address">
            <mat-error class="mat-error">
              E-mail required!
            </mat-error>
          </mat-form-field>
          <p class="mat-error" *ngIf="emailTaken" style="margin-top: -13%">
            Email already taken!
          </p>
          <mat-label>Username</mat-label>
          <mat-form-field class="full-width">
            <input id="usernameId" matInput formControlName="username" placeholder="Choose your username">
            <mat-error class="mat-error">
              Username is required!
            </mat-error>
          </mat-form-field>
          <p class="mat-error" *ngIf="usernameTaken" style="margin-top: -13%">
            Username already taken!
          </p>
          <mat-label>Password</mat-label>
          <mat-form-field class="full-width">
            <input id="passwordId" matInput type="password" formControlName="password" placeholder="Create a password">
          </mat-form-field>
          <p class="mat-error" *ngIf="secondFormGroup.get('password')?.value != secondFormGroup.get('confirmPassword')?.value" style="margin-top: -13%">
            Passwords do not match!
          </p>
          <mat-label>Confirm password</mat-label>
          <mat-form-field class="full-width">
          
            <input  id="confirmPasswordId" matInput type="password" formControlName="confirmPassword" placeholder="Confirm created password">
          </mat-form-field>
          <button mat-raised-button color="primary" class="Login" (click)="stepper.previous()">Back</button>
          <button mat-raised-button color="primary" class="Login" type="submit">Register</button>
        </div>
      </form>
      <p class="signup-link">Already have an account? <a href="#">Login here</a></p>
    </mat-card>


    <mat-card class="stepper-card">
      <div class="stepper-header">
      <mat-stepper headerPosition="top" #stepper>
   
        <mat-step label="Profile" [stepControl]="firstFormGroup">
          <ng-template matStepLabel>Profile</ng-template>
        </mat-step>
        <mat-step label="Account" [stepControl]="secondFormGroup">
          <ng-template matStepLabel>Account</ng-template>
        </mat-step>

      </mat-stepper>
      </div>  
    </mat-card>
  </div>
</div>
