<div class="container">
  <div class="login-container">
    <mat-card class="login-card">
      <h1>Login</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <mat-label>E-mail</mat-label>
        <mat-form-field class="input">
          <input matInput formControlName="email" placeholder="Enter your e-mail address">
        </mat-form-field>
        <mat-label>Password</mat-label>
        <mat-form-field class="input">
          <input matInput type="password" formControlName="password" placeholder="Enter your password">
        </mat-form-field>
        <button mat-raised-button color="primary" class="Login">Login</button>
        <p class="signup-link">Don't have an account? <a href="/Register">Signup here</a></p>
      </form>
    </mat-card>
  </div>
</div>
