<div class="container">
    <div class="login-container">
      <mat-card class="login-card">
        <h1>Login</h1>
        <form>
          <mat-form-field class="full-width">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" placeholder="Enter your e-mail address">
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Enter your password">
          </mat-form-field>
          <button mat-raised-button color="primary" class="Login">Login</button>
          <p class="signup-link">Don't have an account? <a href="Register">Signup here</a></p>
        </form>
      </mat-card>
    </div>