.card-details{

    width: calc(100% / 2 - 80px);
    border-radius: 35.14px;
    background-color: rgba(131, 222, 167, 0.4);
    height: 600px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
.workout-info{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.card-exercises{
    width: calc(100% / 2 + 80px);
    border-radius: 35.14px;
    background-color: rgba(131, 222, 167, 0.4);
    height: 600px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}
.principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.category-card{
    width: calc(100% / 2);
    border-radius: 35.14px;
    background-color: rgba(255, 255, 255, 0.4);
}