.card-details{
    width: calc(100% / 2 - 80px);
    border-radius: 35.14px;
    background-color: rgba(131, 222, 167, 0.4);
    height: 600px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.workout-name{
    font-family: Poppins;
    color: #f5f5f5;
    font-size: 30px;
    font-weight: 800;
    margin-left: 20px;
    position: relative;
   // text-align: left;
}

.workout-div{
   // background-color: blue;
    width: 100%;
    height: 100%;
}

.workout-info {
    display: flex;
    //flex-direction: column;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    width: 100%;
    //background-color: red;
    //margin-top:80px;
    height: auto;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    color: #1b1b1b; 
}

.card-exercises{
    width: calc(100% / 2 + 80px);
    border-radius: 35.14px;
    background-color: rgba(131, 222, 167, 0.4);
    height: 600px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}

.principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.workout-details-card, .workout-author-card, .stopwatch-card {
    width: calc(100% / 2);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    //top: 50px;
    margin: 10px;
    height: 100%;
    display: flex;
    //align-items: left;
}

.carousel-container {
   // top:80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  max-width: 600px;
  height: 600px;
}

mat-card img {
 // width: 100%;
  height: auto;
  width: 440px;
}

.exercise-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
   // margin: 10px;
}

.mat-icon{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 40px;
}

.category-div{
    display: flex;
    align-items:center;
    text-align: ceneter;
    width: 100%;
   // background-color: royalblue;
}

div + mat-icon{
    font-size: 50px;
    width: 50px;
    height: 50px;
}

button {
    margin: 10px;
    font-size: 24px;
  }
  
  .mat-icon {
    margin-right: 8px;
    font-size: 24px;
    width: 24px;
    height: 24px;
  }

  .buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

.button-start .mat-mdc-raised-button {
  background-color: rgb(49, 190, 36);
  color: #F5F5F5;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 800;
  cursor: pointer;
}

.button-start .mat-mdc-raised-button:hover {
  background-color: #F5F5F5;
  color: rgb(49, 190, 36);
}

.button-start .mat-mdc-raised-button:active {
  font-size: 27px;
}

.button-stop .mat-mdc-raised-button {
  background-color: rgb(255, 38, 38);
  color: #F5F5F5;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 800;
  cursor: pointer;
}

.button-stop .mat-mdc-raised-button:hover {
  background-color: #F5F5F5;
  color: rgb(255, 38, 38);
}

.button-stop .mat-mdc-raised-button:active {
  font-size: 27px;
}

  .author-date{
    width: 100%;
   // height: 100%;
    padding-top: 200px;
    //background-color: saddlebrown;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 10px;
  }

.exercise-name{
    font-family: Poppins;
    color: #f5f5f5;
    font-size: 25px;
    font-weight: 700;
    //left: 20px;
    position: relative;
    // text-align: left;
    margin-right: 50px;
    margin-bottom: 0px;
}

.exercise-calories {
    font-family: Poppins;
    color: #f5f5f5;
    font-size: 15px;
    font-weight: 400;
    //left: 20px;
    position: relative;
    margin: 0px;
    // text-align: left;
    margin-top: 20px;
    //background-color: red;
}

.exercise-calories p{
  margin: 0;
}

.workout-details p, .workout-author p{
  margin: 10px;
  margin-left: 20px;
}

.stopwatch {
  font-family: Poppins;
  color: #f5f5f5;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  margin-top: 5px;
}

.actual-stopwatch {
  font-family: Poppins;
  color: #f5f5f5;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  margin: 2px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup-content {
  background-color: #c5c5c5;
  font-weight: 600;
  font-size: 30px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.popup-content p {
  margin-bottom: 20px;
}

.popup-content button {
  margin-top: 10px;
}

.popup-button .mat-mdc-raised-button {
  background-color: rgb(62, 40, 255);
  color: #F5F5F5;
  font-family: Poppins;
  font-size: 25px;
  font-weight: 800;
  cursor: pointer;
}

.popup-button .mat-mdc-raised-button:hover {
  background-color: #F5F5F5;
  color: rgb(62, 40, 255);
}
