<div class="main-container">
    <div class="admin-page">
      <img class="athlete-icon" alt="" src="assets/girl-running.png">
      <div class="content">
        <div class="remove-workout">
          <h1>Remove a workout</h1>
          <form>
            <label for="workout-name">Workout name</label>
            <select id="workout-name">
              <option value="">Select workout</option>
              <!-- Adaugă opțiuni pentru antrenamente aici -->
            </select>
            <button type="submit" class="remove-button">Remove</button>
            <button type="button" class="skip-button">Skip</button>
          </form>
        </div>
        <div class="pagination">
          <button class="prev-page">&lt;</button>
          <button class="page-number">1</button>
          <button class="page-number">2</button>
          <button class="page-number">3</button>
          <button class="page-number">4</button>
          <button class="page-number">5</button>
          <button class="next-page">&gt;</button>
        </div>
      </div>
    </div>
  </div>
  