.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: white;
  font-family: Poppins;
  margin-top: 50px;
}

::ng-deep .mat-mdc-form-field .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

mat-form-field {
  width: 100%; 
}

.admin-card {
  padding: 40px;
  background: rgba(131, 222, 167, 0.2);
  border-radius: 45px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: white;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

button {
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
}

button.mat-raised-button {
  margin: 10px 0;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

input {
  color: rgba(0, 0, 0, 0.2);
  width: 100%;
}

.input[matInput]::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.signup-link {
  text-align: center;
  margin-top: 10px;

  a {
    color: #53F393;
    text-decoration: none;
    font-weight: bold;
  }
}

.Login {
  width: 100%;
  margin-bottom: 20px;
  background-color: #53F393;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: #5389F3;
}

.stepper-header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
