<!-- <div *ngIf="userIsLoggedIn">

</div> -->
<!--ar trebui pus tot ce e mai jos in div-ul de mai sus -->
<div class="container">
    <div class="user-container">
      <mat-card class="profile-card">
        <div class="user-picture">
          <img class="profile-icon" alt="" src="assets/default-profile-picture-male.jpg">
        </div>
        <div class="user-name">
          <p class="profile-name">John Doe</p>
        </div>
        <mat-list class="user-biometrics">
          <div class="age">
            <p class="profile-biometrics">Age:&nbsp;</p>
            <p class="profile-biometrics-data">36</p>
          </div>
          <div class="divider">
            <mat-divider></mat-divider>
          </div>
          <div class="height">
            <p class="profile-biometrics">Height:&nbsp;</p>
            <p class="profile-biometrics-data">180</p>
          </div>
          <div class="divider">
            <mat-divider></mat-divider>
          </div>
          <div class="weight">
            <p class="profile-biometrics">Weight:&nbsp;</p>
            <p class="profile-biometrics-data">88.5</p>
          </div>
        </mat-list>
      </mat-card>
    </div>

    <div class="statistics-selector-container">
      <mat-card class="selector-card">
        <div class="selector-div">
          <mat-form-field class="selector">
            <mat-label>Select statistics</mat-label>
            <mat-select [(value)]="selectedStatistic">
              <mat-option value="option1">Biological metrics</mat-option>
              <mat-option value="option2">Calories burned</mat-option>
              <mat-option value="option3">Workout history</mat-option>
              <mat-option value="option4">Most common workouts</mat-option>
              <mat-option value="option5">Most common excercises</mat-option>
            </mat-select>
        </mat-form-field>
        </div>
      </mat-card>
    </div>

    <div class="statistics-container">
      <mat-card class="statistics-card">
        
      </mat-card>
    </div>
      
</div>