<div class = "main-container">

  <div class = "about-us-page">

    <mat-form-field class="title-1">Know More About Us</mat-form-field>

    <mat-form-field class = "left-rectangle left1">
      <p class = "content-rectangle">About FitPulse <br><br> FitPulse is a comprehensive platform that allows individuals to keep track of their health and fitness activities. 
        Through our application, users can log their workouts and health metrics, monitoring their progress over time. </p>
    </mat-form-field>

    <mat-form-field class = "left-rectangle left2" style = "margin-top: 5%;">
      <p class = "content-rectangle">Our Story <br><br> FitPulse was founded in 2024 by a group of fitness enthusiasts with a passion for technology and health.
        Our mission is to make fitness accessible and enjoyable for everyone. With FitPulse, we aim to create a supportive community where individuals can achieve their fitness goals together.</p>
    </mat-form-field>

    <mat-form-field class = "right-rectangle">

      <p class = "content-rectangle"> Challenge</p>

      <!--box Power Challenge-->

      <p class = "power-challenge-box" style="color: black; text-align: center;"> Power Challenge

        <img class = "power-challenge-image" src = "/assets/Box_12.svg"/>

      </p>

      <!--box Endurance Challenge-->

      <p class = "endurance-challenge-box" style="color: white; text-align: center;"> Endurance Challenge

        <img class = "endurance-challenge-image" src = "/assets/Ball_8.svg"/>

      </p>

      <!--box Motivation Challenge-->

      <p class = "motivation-challenge-box" style="color: black; text-align: center;"> Motivation Challenge

        <img class = "motivation-challenge-image" src = "/assets/Pyramid_11.svg"/>

      </p>

      <!--box Light Green Rectangle-->

      <mat-card class = "light-green-rectangle">
        
        <p class = "light-green-title">Benefits of FitPulse</p>

        <img class = "iconita-1-image" src = "/assets/iconita_1.svg"/>
        <img class = "iconita-2-image" src = "/assets/iconita_2.svg"/>
        <img class = "iconita-3-image" src = "/assets/iconita_3.svg"/>
        <img class = "iconita-4-image" src = "/assets/iconita_4.svg"/>

        <p class = "iconita-1-content">Track your fitness progress.</p>
        <p class = "iconita-2-content">Log and analyze your workouts.</p>
        <p class = "iconita-3-content">Receive personalized suggestions to improve performance.</p>
        <p class = "iconita-4-content">Access detailed statistics for better insight into your progress.</p>

      </mat-card>

      </mat-form-field>
      
      <p>
        <img class = "running-man-image" src = "/assets/running-yellow-man.png"/>
      </p>  
      
      <mat-form-field class = "title-3"> <br><br> Meet our team </mat-form-field>

      <!--CARD 1-->

      <mat-card class = "casian-card">

        <p class = "rectangle-card">Casian Bahrim</p>
        <img class = "card-image" src = "/assets/casian.png">
        <p class = "card-content">bla bla</p>

      </mat-card>

      <!--CARD 2-->

      <mat-card class = "vlad-card">

        <p class = "rectangle-card">Vlad Bulgaru</p>
        <img class = "card-image" src = "/assets/vlad.png">
        <p class = "card-content">bla bla</p>

      </mat-card>

      <!--CARD 3-->

      <mat-card class = "talida-card">

        <p class = "rectangle-card">Talida Caraman</p>
        <img class = "card-image" src = "/assets/talida.png">
        <p class = "card-content">bla bla</p>

      </mat-card>

      <!--CARD 4-->

      <mat-card class = "teodora-card">

        <p class = "rectangle-card">Teodora Filipescu</p>
        <img class = "card-image" src = "/assets/teodora.png">
        <p class = "card-content">bla bla</p>

      </mat-card>

      <!--CARD 5-->

      <mat-card class = "matei-card">

        <p class = "rectangle-card">Matei Pricop</p>
        <img class = "card-image" src = "/assets/matei.png">
        <p class = "card-content">bla bla</p>

      </mat-card>

      <p class = "title-3">
        <br><br>Our Values
      </p>

      <mat-card class = "white-box whitebox1" style="margin-left: -190%; margin-top: 10%;">
        <h1 class = "white-box-title">Integrity</h1>
        <p class = "white-box-content">We believe in being honest and transparent with our users.</p>
      </mat-card>
      
      <mat-card class = "white-box whitebox2" style="margin-left: -70%; margin-top: -30%;">
        <h1 class = "white-box-title">Innovation</h1>
        <p class = "white-box-content">We are committed to continuously improving our platform and services.</p>
      </mat-card>

      <mat-card class = "white-box whitebox3" style="margin-left: 60%; margin-top: -30%;">
        <h1 class = "white-box-title">Community</h1>
        <p class = "white-box-content">We strive to build a supportive and inclusive fitness community.</p>
      </mat-card>

      <mat-card class = "white-box whitebox4" style="margin-left: 190%; margin-top: -30%;">
        <h1 class = "white-box-title">Excellence</h1>
        <p class = "white-box-content">We aim for the highest standards in everything we do.</p>
      </mat-card>

      <br><br><br>
      <mat-form-field class = "green-buttons-text"> Create an Account </mat-form-field>
      <mat-card class = "green-buttons buton1"></mat-card>

      <mat-form-field class = "green-buttons-text"> Set Up Your Profile </mat-form-field>
      <mat-card class = "green-buttons buton1"></mat-card>

      <mat-form-field class = "green-buttons-text"> Log Your First Workout </mat-form-field>
      <mat-card class = "green-buttons buton1"></mat-card>

      <mat-form-field class = "green-buttons-text"> Monitor Your Progress </mat-form-field>
      <mat-card class = "green-buttons buton1"></mat-card>       

  </div>

</div>