<div class = "main-container">

  <div class = "about-us-page">

    <p class="title-1">Know More About Us</p>

    <mat-card class = "left-rectangle left1">
      <p class = "content-rectangle">About FitPulse <br><br> FitPulse is a comprehensive platform that allows individuals to keep track of their health and fitness activities. 
        Through our application, users can log their workouts and health metrics, monitoring their progress over time. </p>
    </mat-card>

    <mat-card class = "left-rectangle left2" style = "margin-top: 5%;">
      <p class = "content-rectangle">Our Story <br><br> FitPulse was founded in 2024 by a group of fitness enthusiasts with a passion for technology and health.
        Our mission is to make fitness accessible and enjoyable for everyone. With FitPulse, we aim to create a supportive community where individuals can achieve their fitness goals together.</p>
    </mat-card>

    <mat-card class = "right-rectangle">

      <p class = "content-rectangle"> Challenge</p>

      <!--box Power Challenge-->

      <p class = "power-challenge-box" style="color: black; text-align: center;"> Power Challenge

        <img class = "power-challenge-image" src = "/assets/Box_12.svg"/>

      </p>

      <!--box Endurance Challenge-->

      <p class = "endurance-challenge-box" style="color: white; text-align: center;"> Endurance Challenge

        <img class = "endurance-challenge-image" src = "/assets/Ball_8.svg"/>

      </p>

      <!--box Motivation Challenge-->

      <p class = "motivation-challenge-box" style="color: black; text-align: center;"> Motivation Challenge

        <img class = "motivation-challenge-image" src = "/assets/Pyramid_11.svg"/>

      </p>

      <!--box Light Green Rectangle-->

      <mat-card class = "light-green-rectangle">
        
        <p class = "light-green-title">Benefits of FitPulse</p>

        <img class = "iconita-1-image" src = "/assets/iconita_1.svg"/>
        <img class = "iconita-2-image" src = "/assets/iconita_2.svg"/>
        <img class = "iconita-3-image" src = "/assets/iconita_3.svg"/>
        <img class = "iconita-4-image" src = "/assets/iconita_4.svg"/>

        <p class = "iconita-1-content">Track your fitness progress.</p>
        <p class = "iconita-2-content">Log and analyze your workouts.</p>
        <p class = "iconita-3-content">Receive personalized suggestions to improve performance.</p>
        <p class = "iconita-4-content">Access detailed statistics for better insight into your progress.</p>

      </mat-card>

      </mat-card>
      
      <p><img class = "running-man-image" src = "/assets/running-yellow-man.png"/></p>
      <p class = "green-line"></p>  
      
      
      <p class = "title-3"> <br><br> Meet our team </p>

      <!--CARD 1-->

      <mat-card class = "casian-card">

        <p class = "rectangle-card">Casian Bahrim</p>
        <img class = "card-image" src = "/assets/team-members/casian.png">
        <p class = "card-content">A budding musician who plays the guitar and piano, loves composing music and performing for his friends.</p>

        

      </mat-card>

      <!--CARD 2-->

      <mat-card class = "vlad-card">

        <p class = "rectangle-card">Vlad Bulgaru</p>
        <img class = "card-image" src = "/assets/team-members/vlad.png">
        <p class = "card-content">A talented athlete, participating in marathons regularly. Loves to go hiking and to play football.</p>

      </mat-card>

      <!--CARD 3-->

      <mat-card class = "talida-card">

        <p class = "rectangle-card">Talida Caraman</p>
        <img class = "card-image" src = "/assets/team-members/talida.png">
        <p class = "card-content">A gifted artist excelling at drawing and painting, always full of imaginative ideas and creative projects.</p>

      </mat-card>

      <!--CARD 4-->

      <mat-card class = "teodora-card">

        <p class = "rectangle-card">Teodora Filipescu</p>
        <img class = "card-image" src = "/assets/team-members/teodora.png">
        <p class = "card-content">An enthusiastic dancer, thrives in ballet and contemporary styles, dedicating hours to perfecting her technique.</p>

      </mat-card>

      <!--CARD 5-->

      <mat-card class = "matei-card">

        <p class = "rectangle-card">Matei Pricop</p>
        <img class = "card-image" src = "/assets/team-members/matei.png">
        <p class = "card-content">An avid traveler who enjoys exploring new cultures and languages, always eager to share stories from his adventures.</p>

      </mat-card>

      <p class = "title-3"><br><br>Our Values</p>
        

      <div class = "white-box">
        <div>Innovation <br><br> We are committed to continuously improving our platform and services.</div>
        <div>Excellence <br><br> We aim for the highest standards in everything we do.</div>
        <div>Integrity <br><br> We believe in being honest and transparent with our users.</div>
      </div>
             

  </div>

</div>