<div class = "main-container">


    <div class ="contact-us-page">

        <mat-card class="meet-us">
            
                <p class="title">Meet us here</p>
                <p class="content">
                    Iancu Bacalu Street Nr. 12<br/>
                    Palas Campus, 4th floor<br/>
                    Iasi, Romania
                </p>
        </mat-card>
        <img class="address-image" src="assets/address.png" />

        <div class="about">
            <mat-card class="hours">
                <p class="title">Working hours</p>
                <p class="content">
                    <br>Monday to Friday: 9:00AM - 18:00 PM
                    <br>Saturday: 9:00AM - 14:00 PM
                    <br>Sunday: Closed
                </p>
            </mat-card>
            <mat-card class="hours">
                <p class="title">Got any question?</p>
                <p class="content">
                    <br>Call us:  +40 755 211 211
                    <br>E-mail us: contact@fitpulse.com
                </p>
            </mat-card>
        </div>

        <mat-card class="questionnaire">
            <p class="title">Here to help</p>
            <br><form>
                <mat-label>
                    Name and surname
                </mat-label>
                <mat-form-field class="form-width" appearance="outline">
                    <input matInput type="text">
                </mat-form-field>
                <mat-label>
                    Email address
                </mat-label>
                <mat-form-field class="form-width" appearance="outline">
                    <input matInput type="email">
                </mat-form-field>
                <mat-label>
                    Contact number
                </mat-label>
                <mat-form-field class="form-width" appearance="outline">
                    <input matInput type="number">
                </mat-form-field>
                <mat-label>
                    Message
                </mat-label>
                <mat-form-field class="form-width" appearance="outline">
                    <textarea matInput type="text">
                    </textarea>
                </mat-form-field>
                <mat-label>
                    Where did you heard about us?
                </mat-label>
                <mat-form-field class="form-width" appearance="outline">
                    <mat-select class="select-class">
                        <mat-option value="Advertising">Advertising</mat-option>
                        <mat-option value="Social Media">Social Media</mat-option>
                        <mat-option value="Through a friend">Through a friend</mat-option>
                        <mat-option value="Other">Other</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
            
            <button mat-raised-button color="accent" class="sumbit">Submit</button>
        </mat-card>
    </div>
</div>
