<div class="page-content-wrapper">
  <div class="content">
    <p class="message">Welcome to the fake store!</p>
  </div>
  <div class="filter-wrapper">
    <button (click)="filterProducts()"
            class="filter-btn"
            mat-raised-button
            color="accent">Keep products under $50</button>
  </div>

  <div class="add-product-btn">
    <button mat-raised-button
            color="accent"
            class="add-btn"
            (click)="addProduct()">Add new product</button>
    See added product: {{addedProduct | json}}
  </div>

  <div class="store-container">
    <app-store-product *ngFor="let product of products"
                       class="store-product"
                       [id]="product.id"
                       [title]="product.title"
                       [description]="product.description"
                       [price]="product.price"></app-store-product>
  </div>
</div>