@import '/src/styles/variables';

:host {
  .page-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: $fake-store-primary-color;
    flex-direction: column;

    .add-product-btn {
      margin-bottom: 32px;
    }

    .filter-btn {
      margin-right: 16px;
    }

    .add-btn {
      margin-right: 16px;
    }

    .filter-wrapper {
      display: flex;
      justify-content: end;
      width: 100%;
      margin-bottom: 32px;
      margin-right: 32px;
    }

    .content {
      display: flex;

      .message {
        font-size: 30px;
      }
    }

    .store-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: 1fr;
      margin: 0 16px 16px 16px;

      .store-product {
        margin: 0 16px 16px 16px;
      }

    }
  }
}
