@use '@angular/material' as mat;

// Include the core styles for Angular Material
@include mat.core();

// Define your custom color palette
$custom-primary: mat.define-palette(mat.$green-palette, 800, 600, 900);
$custom-accent: mat.define-palette(mat.$lime-palette, 600, 400, 700);
$custom-warn: mat.define-palette(mat.$red-palette);

// Define the custom theme
$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
  )
);

// Include the custom theme styles for Angular Material components
@include mat.all-component-themes($custom-theme);

// Your additional global styles
html, body {
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-list-base .mat-list-item .mat-list-item-content, 
.mat-list-base .mat-list-option .mat-list-item-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  height: inherit;
  margin-top: 4% !important;

  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 4px !important;
    margin-left: 4% !important;
  }
}
/* Custom styles for the toolbar */
.toolbar {
  background: transparent !important;  // Set the background to transparent

  .mat-toolbar-row {
    background: transparent !important; // Ensure rows within the toolbar are also transparent
  }
}

/* Optional: Style toolbar items if needed */
.toolbar .mat-toolbar-item {
  color: white; // Example: Change color of toolbar items
}


