$register-primary-color: rgb(255, 128, 128);
$landing-page-primary-color: rgb(255, 207, 150);
$forbidden-primary-color: rgb(246, 253, 195);
$fake-store-primary-color:  rgb(205, 250, 213);
$fake-store-secondary-color: rgb(203, 235, 205);
$fake-store-accent-color: rgb(255, 207, 150);
$local-store-primary-color: rgb(248, 227, 255);
