<div class="card"
     [style.backgroundColor]="cardBackgroundColor">
    <h1 [style.color]="cardTextColor">Welcome to the Card</h1>
    <p [style.fontSize.px]="cardFontSize">This is a dynamic card. Click the button to change its status.</p>
    <button (click)="toggleCardStatus()">{{ buttonText }}</button>
</div>

<div>
    <label for="nameInput">Name:</label>
    <input id="nameInput" [(ngModel)]="name">
    <p>Hello, {{ name }}!</p> 
</div>

<div *ngIf="showProducts">
    <!-- <app-products-list [detailsProducts]="products" (sendNotification)="getProductSelected($event)"></app-products-list> -->
    <div *ngFor="let product of products">
        <div class="card"
             [style.backgroundColor]="product.cardBackgroundColor">
            <h1 [style.color]="cardTextColor">{{product.name}}</h1>
            <p [style.fontSize.px]="cardFontSize">{{product.description}}</p>
            <button (click)="addProductToCart(product)">{{ addProductBtn }}</button>
        </div>
    </div>
     <!-- remove ngFor and replace with the list products commponent (for interaction between components)-->
</div>

