<div class="principal">
  <mat-card class="filter-card">
    <div class="filter-form">
      <!-- Sort by dropdown -->
      <div class="div-sort">
        <mat-form-field appearance="fill">
          <mat-label>Sort by</mat-label>
          <mat-select [(value)]="sorting" (selectionChange)="updateSorting()">
            <mat-option value="default">Latest workout added</mat-option>
            <mat-option value="difficulty-ascending">Difficulty ascending</mat-option>
            <mat-option value="difficulty-descending">Difficulty descending</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- Filter by author -->
      <div class="div-sort">
        <mat-form-field appearance="fill">
          <mat-label>Filter by author</mat-label>
          <mat-select [(value)]="selectedAuthor" (selectionChange)="applyFilters()">
            <mat-option value="all">All</mat-option>
            <mat-option *ngFor="let author of authors" [value]="author">{{ author }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- Filter by main category -->
      <div class="div-sort">
        <mat-form-field appearance="fill">
          <mat-label>Filter by category</mat-label>
          <mat-select [(value)]="selectedMainCategory" (selectionChange)="onMainCategoryChange()">
            <mat-option value="all">All</mat-option>
            <mat-option *ngFor="let category of mainCategories" [value]="category">{{ category }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- Filter by subcategory -->
      <div *ngIf="subCategories.length > 0" class="div-sort">
        <mat-form-field appearance="fill">
          <mat-label>Filter by subcategory</mat-label>
          <mat-select [(value)]="selectedSubCategory" (selectionChange)="applyFilters()">
            <mat-option value="all">All</mat-option>
            <mat-option *ngFor="let subCategory of subCategories" [value]="subCategory">{{ subCategory }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- Filter by difficulty -->
      <div class="div-sort">
        <mat-form-field appearance="fill">
          <mat-label>Filter by difficulty</mat-label>
          <mat-select [(value)]="selectedDifficulty" (selectionChange)="applyFilters()">
            <mat-option value="all">All</mat-option>
            <mat-option value="Beginner">Beginner</mat-option>
            <mat-option value="Intermediate">Intermediate</mat-option>
            <mat-option value="Advanced">Advanced</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card>

  <div class="workouts">
    <mat-card class="workouts-card">
      <mat-card class="workout-card" (click)="navigateToWorkout(workout.id)" *ngFor="let workout of pagedWorkouts">
        <div class="workout-content">
          <img class="workout-photo" [src]="'assets/workouts/' + workout.photo" alt="workout photo">
          <div class="workout-info">
            <div class="workout-name">{{ workout.name }}</div>
            <!-- <div class="workout-category">{{ workout.category }}</div>-->
            <div class="workout-details">
              <div class="workout-difficulty"><p>{{ workout.difficulty }}</p></div>
              <div class="workout-difficulty-icon">
                <img class="workout-photo-difficulty" [src]="'assets/difficulty-icons/' + workout.difficulty + '.png'" alt="difficulty icon">
              </div>
            </div>
            <!-- <div class="workout-author">{{ workout.author }}</div>
            <div class="workout-published-date">{{ workout.published_Date | date }}</div> -->
          </div>
        </div>
      </mat-card>
    </mat-card>
  </div>

</div>

<div class="pagination">
  <mat-card class="pagination-card">
    <mat-paginator [length]="filteredWorkouts.length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="handlePageEvent($event)">
    </mat-paginator>
  </mat-card>
</div>
