<div class="main-container">
    <div class="homepage">
      <div class="right-rectangle">
        
        <div class="back-circle">
          <div class="back-circle-child">
          </div>
          <div class="back-circle-item">
          </div>
          <div class="back-circle-inner">
          </div>
          </div>
          <img class="girl-running-icon" alt="" src="assets/girl-running.png">
      </div>
     

        <div class="fitness">Fitness</div>
        

        <div class="content">
          <div class="motto">
          <span id="shape">SHAPE </span> <span id="your">YOUR</span><p id="yours"> BODY</p>
        </div>
          <div class="intro">
          <p>Transform your fitness journey with FitPulse. Access diverse workouts, log your activities, and track your progress towards a healthier you.</p>
          
        </div>
       
        <div class="stats">
          <div class="stat">
            <h2>50+</h2>
            <p>Expert Coaches</p>
          </div>

          <div class="stat">
            <h2>200+</h2>
            <p>Members Joined</p>
          </div>

          <button class="get-started" (click)="goToWorkouts()">Get Started</button>



        </div>


        <div class="features-div">
          <mat-card class="features-card">
            <p class="features-title">Key features</p>
            <div class="slideshow-container">
              <!-- div pentru animatie <div class="card-container" [ngStyle]="{'transform': 'translateX(' + currentFeatureIndex * -25 + '%)'}"> -->
              <div class="card-container">
                <div *ngFor="let feature of features" class="card">
                  <mat-card class="feature-card">
                    <h3>{{ feature.title }}</h3>
                    <p>{{ feature.description }}</p>
                  </mat-card>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
        

    </div>
</div>