<div class="main-container">
    
    <app-header></app-header>
    
    <div class="homepage">
        <img class="girl-running-icon" alt="" src="assets/girl-running.png">
        <div class="content">
        <div class="intro">
          <h1>Shape Your Body</h1>
          <p>Transform your fitness journey with FitPulse. Access diverse workouts, log your activities, and track your progress towards a healthier you.</p>
          <button class="get-started">Get Started</button>
        </div>
       
        <div class="stats">
          <div class="stat">
            <h2>50+</h2>
            <p>Expert Coaches</p>
          </div>
          <div class="stat">
            <h2>200+</h2>
            <p>Members Joined</p>
          </div>
        </div>

    </div>
      </div>
      
   
</div>