.main-container{
    display: flex;
    flex-direction: column;
}

.homepage {
    text-align: center;
    color: white;
    //background: linear-gradient(135deg, #1abc9c, #16a085);
    padding: 2rem;
  
    .intro {
      margin-bottom: 2rem;
  
      h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }

  
      p {
        margin-left: 350px;
        margin-right: 350px; 
        text-align: center;
        font-size: 18px;
        font-style: normal;
        line-height: 24px;
      }
  
      .get-started {
        background-color: #17ff74;
        color: #f5f5f5;
        border: none;
        padding: 0.75rem 2rem;
        border-radius: 30px;
        cursor: pointer;
        text-align: center;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 24px; 
        letter-spacing: 1.25px;
      }
    }
  
    .stats {
      display: flex;
      justify-content: center;
      gap: 2rem;
  
      .stat {
        h2 {
          color: #17ff74;
          font-family: Poppins;
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin: 5px;
          letter-spacing: 0.95px;
        }
        p {
          color: #FFF;
          font-family: Poppins;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 1.2px;
        }
      }
    }
  }
  .girl-running-icon {
    width: 470px;
    position: absolute;
    top:190px;
    left: 20px;
    //max-width: 100%;
    overflow: hidden;
    height: 470px;
    //object-fit: cover;
    z-index: -1;
    }
  .content{
    z-index: 2;
  }