.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.fitness {
  width: 300px;
  position: absolute; 
  top: 55%;
  left: 60%; 
  transform: translateY(-50%) rotate(-90deg);
  font-size: 80px;
  letter-spacing: 1.25px;
  line-height: 36px;
  font-family: "Chonburi";
  color: rgba(0, 0, 0, 0.28);
  text-align: center;
  display: inline-block;
  transform-origin: 0 0;
}
.right-rectangle {
  width: 385px;
 // display: flex;
 // justify-content: right;
 // align-items: right;
  
 // position: relative;
  background-color: rgba(131, 222, 167, 0.6);
  height: 680px;
  position: absolute;
  right:0;
  top:-80px;
  z-index:-2;
//  z-index: -10;
}





.homepage {
  text-align: left;
  color: white;
  padding: 2rem;
}

.intro {
  margin-bottom: 2rem;
  text-align: left;

  h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
  }

  p {
      margin: 0;
      margin-top: 50px;
      margin-bottom: 30px;
      text-align: left;
      font-size: 18px;
      font-style: normal;
      line-height: 24px;
      width: 50%;
  }
}

.get-started {
  background-color: #17ff74;
  color: #f5f5f5;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 30px;
  cursor: pointer;
  text-align: left;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 1.25px;

border-radius: 7.5px 7.5px 60px 7.5px;
background-color: rgba(83, 243, 147, 0.6);
height: 80px;
margin-top: 40px;
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stats {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  padding-bottom: 80px;

  .stat {
      h2 {
          color:  rgba(83, 243, 147, 0.6);
          font-family: Poppins;
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin: 5px;
          letter-spacing: 0.95px;
      }
      p {
          color: #FFF;
          font-family: Poppins;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: 1.2px;
      }
  }
}

.girl-running-icon {
  width: 500px;
  position: absolute;
  top: 180px;
  right: 0;
  overflow: hidden;
  height: 500px;
  z-index: -1;
  transform: rotateY(180deg);
}

.back-circle-child {
  position: absolute;
  top: 98.5px; /* Ajustat pentru a fi mai jos cu 100px */
  left: -1.5px;
  filter: blur(0px);
  border-radius: 50%;
  border: 3px solid #00ff47;
  box-sizing: border-box;
  width: 380px;  /* Redus de la 544.5px */
  height: 385px; /* Redus de la 549px */
  z-index: -1; /* Mai mic decât imaginea */
}

.back-circle-item {
  position: absolute;
  top: 110.5px; /* Ajustat pentru a fi mai jos cu 100px */
  left: 10.5px; /* Ajustat pentru poziționare corectă */
  filter: blur(0px);
  border-radius: 50%;
  border: 3px solid #00ff47;
  box-sizing: border-box;
  width: 350px; /* Redus de la 511.5px */
  height: 355px; /* Redus de la 515.7px */
  z-index: -1; /* Mai mic decât imaginea */
}

.back-circle-inner {
  position: absolute;
  top: 125px; /* Ajustat pentru a fi mai jos cu 100px */
  left: 25px; /* Ajustat pentru poziționare corectă */
  filter: blur(0px);
  border-radius: 50%;
  border: 4.5px solid #00ff47;
  box-sizing: border-box;
  width: 310px; /* Redus de la 469px */
  height: 315px; /* Redus de la 472.9px */
  z-index: -1; /* Mai mic decât imaginea */
}

.back-circle {
  width: 100%;
  position: relative;
  height: 480px;  /* Redus de la 546px pentru a acomoda mutarea */
}


.content {
  z-index: 2;
}

#shape {
  width: auto;
  position: relative;
  font-size: 60px;
  line-height: 112.5%;
  font-weight: 800;
  font-family: Poppins;
  color: transparent;
  text-align: left;
  display: inline-block;
  -webkit-text-stroke: 3.75px rgba(83, 243, 147, 0.6);
  padding: 20px;
  margin: 0;
  margin-top: 80px;
  letter-spacing: 1.5px;
}

#your, #yours {
  font-size: 60px;
  padding: 20px;
  margin: 0;
  font-size: 60px;
  line-height: 112.5%;
  font-weight: 800;
  font-family: Poppins;
  color: #fff;
  text-align: left;
}

#yours {
  padding: 0px 20px;
}

.motto {
  text-align: left;
}
.features-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.features-card {
  width: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background-color: rgba(131, 222, 167, 0.4);
}
.slideshow-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  transition: transform 1s ease-in-out;
  width: calc(100% * 5); /* Ajustați pentru numărul de carduri */
}

.card {
  width: 25%; /* Ajustați pentru a afișa 4 carduri simultan */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.card .icon {
  font-size: 50px;
  margin-bottom: 20px;
}
