<div class="container">
    <div class="reset-container">
        <mat-card class="reset-card">
            <h1>Reset password</h1>
            <form [formGroup]="resetForm" (ngSubmit)="onReset()">
                <mat-label>Your Email</mat-label>
                <mat-form-field class="input">
                    <input matInput formControlName="email" placeholder="Enter your e-mail address">
                    <mat-error class="mat-error">
                        E-mail is required!
                    </mat-error>
                </mat-form-field>
                <p class="mat-error" *ngIf="emailError" style="margin-top: -13%">
                    E-mail does not exist!
                </p>
                <mat-label *ngIf="codeResetInput">Your code from Email</mat-label>
                <mat-form-field class="input" *ngIf="codeResetInput">
                    <input matInput formControlName="code" placeholder="Enter your code"> 
                </mat-form-field>
                <p class="mat-error" *ngIf="codeError" style="margin-top: -13%">
                    Cod gresit!
                </p>
                <mat-label *ngIf="passwordInput">Your new password</mat-label>
                <mat-form-field class="input" *ngIf="passwordInput">
                    <input matInput placeholder="Enter your new password" type ="password">
                </mat-form-field>
                <button mat-raised-button color="primary" class="Reset" *ngIf="nextClicked == 0">Send code</button>
                <button mat-raised-button color="primary" class="Reset" *ngIf="nextClicked == 1">Submit code</button>
                <button mat-raised-button color="primary" class="Reset" *ngIf="nextClicked == 2">Reset password</button>
            </form>

        </mat-card>
    </div>
</div>